.chatContainer {
  --chatContainerHeight: calc(100vh - var(--logoContainerHeight));

  flex: 1;
  margin: auto;
  width: 100%;
  max-width: 800px;
  max-height: var(--chatContainerHeight);
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.chatMessagesContainer {
  max-height: var(--chatContainerHeight);
  overflow-y: auto;
}

.chatMessagesWrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  gap: 12px;
}
