.chatMessage {
  --shadow-color: 344deg 14% 79%;

  padding: 24px;
  min-height: 80px;
  width: fit-content;
  background: #fff5ed;
  border-radius: 24px;
}

.chatMessage.botResponse {
  margin-right: auto;
  border-bottom-left-radius: 0;
}

.chatMessage.userQuestion {
  margin-left: auto;
  border-bottom-right-radius: 0;
}
